.elementor-71 .elementor-element.elementor-element-a2dbbbd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-71 .elementor-element.elementor-element-a2dbbbd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-71 .elementor-element.elementor-element-2e7bfc7 .elementor-heading-title {
    color: #CBCBCB;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}

.elementor-71 .elementor-element.elementor-element-2e7bfc7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
}

.elementor-71 .elementor-element.elementor-element-a1f7eb0 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: var( --e-global-color-04acd0f);
    border-style: solid;
    border-radius: 1px 1px 1px 1px;
}

.elementor-71 .elementor-element.elementor-element-a1f7eb0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-71 .elementor-element.elementor-element-abdfd20 {
    margin-top: 200px;
    margin-bottom: 50px;
}

.elementor-71 .elementor-element.elementor-element-75937a8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-71 .elementor-element.elementor-element-75937a8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #181818;
}

.elementor-71 .elementor-element.elementor-element-75937a8>.elementor-element-populated,
.elementor-71 .elementor-element.elementor-element-75937a8>.elementor-element-populated>.elementor-background-overlay,
.elementor-71 .elementor-element.elementor-element-75937a8>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-71 .elementor-element.elementor-element-75937a8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-71 .elementor-element.elementor-element-75937a8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-71 .elementor-element.elementor-element-27519a2 .elementor-heading-title {
    color: #A4A4A4;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.elementor-71 .elementor-element.elementor-element-d4f1534 .elementor-heading-title {
    color: var( --e-global-color-04acd0f);
}

.elementor-71 .elementor-element.elementor-element-d4f1534>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-71 .elementor-element.elementor-element-9a8c4e2 .elementor-heading-title {
    color: #A4A4A4;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-71 .elementor-element.elementor-element-9a8c4e2>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-71 .elementor-element.elementor-element-f2b88ed:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-71 .elementor-element.elementor-element-f2b88ed>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #181818;
}

.elementor-71 .elementor-element.elementor-element-f2b88ed>.elementor-element-populated,
.elementor-71 .elementor-element.elementor-element-f2b88ed>.elementor-element-populated>.elementor-background-overlay,
.elementor-71 .elementor-element.elementor-element-f2b88ed>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-71 .elementor-element.elementor-element-f2b88ed>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-71 .elementor-element.elementor-element-f2b88ed>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-71 .elementor-element.elementor-element-cd55b25 .elementor-heading-title {
    color: #A4A4A4;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.elementor-71 .elementor-element.elementor-element-afb9112 .elementor-heading-title {
    color: var( --e-global-color-04acd0f);
}

.elementor-71 .elementor-element.elementor-element-afb9112>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-71 .elementor-element.elementor-element-af534d9 .elementor-heading-title {
    color: #A4A4A4;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-71 .elementor-element.elementor-element-af534d9>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-71 .elementor-element.elementor-element-6e98840 {
    --spacer-size: 433px;
}

.elementor-71 .elementor-element.elementor-element-2449103 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.elementor-71 .elementor-element.elementor-element-053ec31:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-71 .elementor-element.elementor-element-053ec31>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #252525;
}

.elementor-71 .elementor-element.elementor-element-053ec31>.elementor-element-populated,
.elementor-71 .elementor-element.elementor-element-053ec31>.elementor-element-populated>.elementor-background-overlay,
.elementor-71 .elementor-element.elementor-element-053ec31>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-71 .elementor-element.elementor-element-053ec31>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-71 .elementor-element.elementor-element-053ec31>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-71 .elementor-element.elementor-element-37da2e0 .elementor-heading-title {
    color: #848484;
    font-family: "Roboto", Sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.elementor-71 .elementor-element.elementor-element-37da2e0>.elementor-widget-container {
    margin: 10px 10px 10px 10px;
}

.elementor-71 .elementor-element.elementor-element-a420b70:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-71 .elementor-element.elementor-element-a420b70>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #252525;
}

.elementor-71 .elementor-element.elementor-element-a420b70>.elementor-element-populated,
.elementor-71 .elementor-element.elementor-element-a420b70>.elementor-element-populated>.elementor-background-overlay,
.elementor-71 .elementor-element.elementor-element-a420b70>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-71 .elementor-element.elementor-element-a420b70>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-71 .elementor-element.elementor-element-a420b70>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-71 .elementor-element.elementor-element-a2b6af5 .elementor-heading-title {
    color: #848484;
    font-family: "Roboto", Sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.elementor-71 .elementor-element.elementor-element-a2b6af5>.elementor-widget-container {
    margin: 10px 10px 10px 10px;
}

@media(max-width:767px) {
    .elementor-71 .elementor-element.elementor-element-2e7bfc7 {
        text-align: left;
    }
    .elementor-71 .elementor-element.elementor-element-2e7bfc7 .elementor-heading-title {
        font-size: 27px;
    }
    .elementor-71 .elementor-element.elementor-element-abdfd20 {
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .elementor-71 .elementor-element.elementor-element-6e98840 {
        --spacer-size: 10px;
    }
    .elementor-71 .elementor-element.elementor-element-2449103 {
        margin-top: -40px;
        margin-bottom: 0px;
    }
    .elementor-71 .elementor-element.elementor-element-a8c1aa8 {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}